# Python-related files
__pycache__/
*.py[cod]
*$py.class

# Training data files.
zip_files/
array_files/
training_images/
*.csv
*.pkl

# Generated terrain files.
ml_outputs/
*.np[yz]

# Misc files.
.DS_Store
*.swp
